* {
	margin: 0;
	padding: 0;
}

header {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


body {
	font-family: 'Poppins', sans-serif;
}

.navigation {
	float: center;
  margin-left: 38%;
	list-style: none;
	margin-top: 1%;
}
.navigation li {
	display: inline-block;
}
.navigation li a {
	color:black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.navigation li a:hover {
	background:#3e2093;
}

.banner {
  Background-Image: Url("homeimage.jpg");
  Background-Size: Cover;
  Background-Repeat: No-Repeat;
  Background-Position: Center;
  /*Overflow: Hidden;*/
  Width: 100%;
  Height: 89vh;
  Text-Align: Center;
  Position: Relative;
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
}

.banner::before {
  Content: "";
  Position: Absolute;
  Display: Block;
  Top: 0;
  Left: 0;
  Bottom: 0;
  Right: 0;
  Background-Color: Rgba(0, 0, 0, 0.2);
  /*Background-Size: 100%;*/
}

.banner-text-item {
  Position: Absolute;
  Width: 100%;
  Text-Align: Center;
  Display: Flex;
  Flex-Flow: Column Wrap;
  Justify-Content: Center;
  Align-Items: Center;
}

.banner-text-item .form {
  Flex: 1;
  Display: Flex;
  Flex-Flow: Row Wrap;
  Justify-Content: Center;
  Align-Items: Center;
  Background-Color: Rgba(255, 255, 255, 0.2);
  Border-Radius: 5px;
  Width: 70%;
  Padding: 1% 2%;
}

.banner-text-item input,
.banner-text-Item .date,
.banner-text-Item .book {
  Padding: 15px;
  Margin-Right: 10px;
  Font-Size: 18px;
  Font-Family: poppins;
  Border-Radius: 5px;
  Outline: 0;
  Border: None;
}

.banner-text-item input {
  Width: 50%;
  Flex: 2;
}

.banner-text-item .date {
  Width: 20%;
  Flex: 1;
}

.banner-text-item .book {
  Width: 20%;
  Flex: 1;
}

.banner-text-item .book {
  display: inline-block;
  padding: 16px 32px 16px 32px;
  letter-spacing: 3px;
  margin-top: 10px;
  padding: 20px 40px;
  background: #3e2093;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
}

