

		
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        
body
{
	margin: 0px;
	padding: 0px;
	background: #f2f2f2;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:black;
}
h1, h2, h3
{
margin: 4px;
padding: 4px;
}
.container
{
overflow: hidden;
margin: 0em auto;
width: 1200px;
}
.navigation {
float: center;
margin-left: 38%;
list-style: none;
margin-top: 1%;
}
.navigation li {
display: inline-block;
}
.navigation li a {
color:black;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.navigation li a:hover {
background:#3e2093;
}


.button
{
display: inline-block;
padding: 16px 32px 16px 32px;
letter-spacing: 3px;
margin-top: 10px;
padding: 20px 40px;
background: #3e2093;
border-radius: 6px;
text-decoration: none;
font-weight: 700;
font-size: 16px;
color: #FFF;
}

.button-alt
{
padding: 20px 40px;
border-color: #3e2093;
color: #FFF;
}


.boxA,
.boxB,
.boxC
{
width: 365px;
}

.boxA,
.boxB
{
float: left;
margin-right: 50px;
}
.boxC
{
float: right;
}


.tbox1,
.tbox2
{
width: 575px;
}

.tbox1
{
float: left;
}

.tbox2
{
float: right;
}



.title
{
margin-bottom: 90px;
}

.title h2
{
font-size: 30px;
}

.title .byline
{
font-size: 20px;
color:black;
}


#wrapper
{
position: relative;
padding: 5px 10px 10px 5px;
background: #FFF;
}


#header-wrapper
{
position: relative;
padding:  5px 10px 10px 5px;
background: #3e2093;
background-size: cover;
}

#header
{
position: relative;
padding: 16px 5px;
}







#banner
{
padding-top: 30px;
text-align: center;
}

#banner .title h2
{
font-size: 40px;
}

#banner .title .byline
{
font-size: 20px;
}

#banner .button
{
margin-top: 50px;
padding: 20px 40px;;
border-radius: 6px;
font-weight: 700;
font-size: 16px;

}

.banner
{
margin-bottom: 10px;
}

#copyright
{
overflow: hidden;
padding: 50px 10px;
border-top: 1px solid rgba(14, 8, 8, 0.6);
}

#copyright p
{
text-align: center;
font-size: 16px;
color: black;
}

#copyright a
{
text-decoration: none;
color: black;
}




#welcome
{
position: relative;
padding: 16px 5px 16px 5px;
background: #3e2093;
background-size: cover;
text-align: center;
}

#welcome .container
{
width: 1000px;
padding: 50px 50px;
color: white;
}

#welcome a
{
color: white;
}

#welcome .button
{
background: white;
color:#3e2093;
}



#three-column
{
text-align: center;
color: black;
}

#three-column .fa
{
display: block;
padding: 16px 10px;
color: rgba(0,0,0,1);
font-size: 20px;
}

#three-column .title h2
{
font-weight: bold;
color: rgba(0,0,0,0.8);
}

#three-column .title .byline
{
text-align: center;
color: rgba(0,0,0,.5);
}

